.aboutContainer {
    background-color: #000;
    padding: 30px;
    padding-bottom: 80px !important;
    width: 100%;
}

.imageContainer {
    padding: 20px;
}


@keyframes rotation {
    from {
        /* transform: rotate(0deg); */
        transform: translate3d(0px, 10.135px, 0px) rotate(1.68926deg);
    }
    to {
        /* transform: rotate(359deg); */
        transform: translate3d(0px, 10.135px, 0px) rotate(1.68926deg);
    }
}

.a_title {
    color: white;
    font-size: 4em;
    font-family: 'Arial', cursive;
    float: left;
    text-align: left;
    line-height: 0.9;
    font-weight: bold;
    margin-bottom: 0.5em;

}

.a_title p {
    margin-bottom: 0px;
}

.a_desc {
    margin-bottom: 1em;
    color: #eee;
    text-align: left;
    font-size: 0.9rem;
}
.a_desc p {
    width: 100%;
    display: flex;
}

.button_container {
    float: left;
}

.gray-button {
    background-color: #262626;
    color: #fff;
    position: relative;
    overflow: hidden;
    overflow: clip;
    transition: all .6s cubic-bezier(.26,1.04,.54,1);
    transition-property: all;
    transition-duration: 0.6s;
    transition-property: border,color;
    text-transform: uppercase;
    border-radius: 25px;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 20px;
}

.gray-button:hover{
    background-color: linear-gradient(to right, #f000 , #0040ff);
}