
.darkBtn, .darkBtnGradient, .darkBtnAlt {
    background: #262626;
    color: white;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    overflow: clip;
    transition: all .6s cubic-bezier(.26,1.04,.54,1);
    transition-property: all;
    transition-duration: 0.6s;
    transition-property: border,color;
    text-transform: uppercase;
    border-radius: 25px;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 20px;
}
.darkBtn:hover {
    background: #777;
    color: white;
}
.darkBtnGradient:hover {
    background: linear-gradient(to right, #000337, #005cff);
    color: white;
}
.darkBtnAlt:hover {
    background: #fff;
    color: black;
}

.darkBtnContainer button .icon {
    color: 'white';
    margin-left: 15px;
    padding-left: 15px;
    font-size: 14px;
}
