.footerContainer {
    width: 100%;
    background-color: black;
    padding: 30px;
}


.navLeft {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 2rem;
}

.navRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    margin-right: 2rem;
}

.navLogo {
    -webkit-transform: translate3d(0,-7.5rem,0);
    transform: translate3d(0,-7.5rem,0);
    transition: -webkit-transform 1.2s cubic-bezier(.16,1.08,.38,.98);
    transition: transform 1.2s cubic-bezier(.16,1.08,.38,.98);
    transition: transform 1.2s cubic-bezier(.16,1.08,.38,.98),-webkit-transform 1.2s cubic-bezier(.16,1.08,.38,.98);
    transition-delay: 0s, 0s;
    transition-delay: var(--delay-mobile);
    pointer-events: all;
}

.logoContainer {
    float: left;
}

.footer_subtitle {
    text-align: left;
    color: #9c9c9c;
    margin-bottom: 15px;
    font-size: 13px;
}

.footer_link {
    text-align: left;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.footer_link_small {
    color: #9d9d9d;
    text-align: left;
    font-size: 13px;
    text-align: left;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.footer_link a {
    color: white;
    text-align: left;
    text-decoration: unset;
    cursor: pointer;
}
.footer_link a:hover {
    text-decoration: underline;
}

.footer_link_small a {
    color: #9d9d9d;
    text-align: left;
    font-size: 12px;
    cursor: pointer;
}

.footer_link_small a:hover {
    color: #fff;
}

.footer_white-button {
    background: #fff;
    color: #262626;
    position: relative;
    overflow: hidden;
    overflow: clip;
    transition: all .6s cubic-bezier(.26,1.04,.54,1);
    transition-property: all;
    transition-duration: 0.6s;
    transition-property: border,color;
    text-transform: uppercase;
    border-radius: 25px;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    padding: 15px 20px;
    margin-right: 10px;
}
.footer_white-button button .icon {
    color: '#262626';
    margin-left: 15px;
    padding-left: 15px;
    font-size: 14px;
}
.footer_white-button button .icon:hover {
    color: '#fff';
}
.footer_white-button:hover {
    background: #262626;
    color: white;
}

.footer_dark-button {
    background: #262626;
    color: white;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    overflow: clip;
    transition: all .6s cubic-bezier(.26,1.04,.54,1);
    transition-property: all;
    transition-duration: 0.6s;
    transition-property: border,color;
    text-transform: uppercase;
    border-radius: 25px;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 20px;
}
.footer_dark-button:hover {
    background: #777;
    color: white;
}

.footer_dark-button button .icon {
    color: 'white';
    margin-left: 15px;
    padding-left: 15px;
    font-size: 14px;
}


.icon span {
    margin-left: 15px;
}
.footer_btn_container {
    text-align: left;
}