.App {
  text-align: center;
  background-color: #000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h1 h2 h3 h4 h5 h6 {
  font-family: Hellix,helvetica,arial,sans-serif;
  line-height: .9;
  white-space: pre-wrap;
  letter-spacing: -.04em;
}

.videoContainer {
  /* display: flex; */
  position: relative;
  height: 88vh;
  overflow: hidden;
  overflow: clip;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 2rem;
  background: #000;
  align-items: flex-end;
}