.moreInfoContainer {
    background-color: #f4f4f4;
    padding: 6em;
    width: 100%;
}

.title {
    color: black
}

.subtitle {
    color: black;
    float: left;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}

.desc p {
    color: #262626;
}