.moreInfoContainer {
    background-color: #f4f4f4;
    padding: 90px 30px;
    width: 100%;
}

.m_title {
    color: black;
    font-size: 4em;
    font-family: 'Arial', cursive;
    float: left;
    text-align: left;
    line-height: 0.9;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.m_subtitle {
    color: black;
    font-size: 30px;
    float: left;
    text-align: left;
    line-height: 0.9;
    font-weight: bold;
    margin-bottom: 0.5em;
    font-family: 'Arial', cursive;
}
.m_subtitleDesc {
    color: #515050;
    text-align: left;
    font-weight: 400;
}

.m_desc {
    color: #262626;
    text-align: left;
}