.children_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.text {
    color: #fff;
    font-size: 4vw;
    font-weight: normal;
}
.d-block {
    
}.bannerBg {
    width: 100%;
}
.video {
    /* position: absolute !important; */
    /* z-index: 1; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity .2s cubic-bezier(.16,1.08,.38,.98);
    transform: rotate(180deg) scaleY(-1); */


    position: absolute !important;
    z-index: 1;
    right: 0;
    width: 80%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity .2s cubic-bezier(.16,1.08,.38,.98);
    transform: rotate(180deg) scaleY(-1);
}


.videoContainer {
    position: absolute;
    z-index: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    overflow: clip;
    transform: translate3d(0px, 0px, 0px);
    will-change: transform;
    height: 100%;
}

.logo {
    width: 6rem;
}

.mainHeaderContainer {
    /* display: flex; */
    position: relative;
    height: 88vh;
    overflow: hidden;
    overflow: clip;
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 2rem;
    background: #000;
    align-items: flex-end;
}

.headerTextContainer {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    width: 88.8vw;
}
.textContainer {
    position: relative;
    z-index: 1;
}
.descContainer {
    position: relative;
    z-index: 1;
}

.d_text {
    line-height: 1.4;
    white-space: pre-wrap;
    color: #9c9c9c;
    margin-top: 3rem;
    transition-duration: .5s;
    transition-delay: .1s;
    font-size: clamp(14.4px,1.6rem,19.2px);
    display: inline-block;
    text-align: left;
    width: 36rem;
    float: left;
}
@media only screen and (max-width: 600px) {
    .headerTextContainer {
        width: 88.8vw;
    }
}

.white-button {
    background: #fff;
    color: #262626;
    position: relative;
    overflow: hidden;
    overflow: clip;
    transition: all .6s cubic-bezier(.26,1.04,.54,1);
    transition-property: all;
    transition-duration: 0.6s;
    transition-property: border,color;
    text-transform: uppercase;
    border-radius: 25px;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 20px;
}
.white-button :hover {
    background: #262626;
    color: white;
}
.h_text {
    font-size: 7rem;
    line-height: .77;
    color: #fff;    
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    float: left;
    margin-bottom: 5px;
    
}

.h_desc {
    font-family: NeueHaasGroteskDisplay, Helvetica Neue,helvetica,arial,sans-serif;
    line-height: 1.4;  
    color: #9c9c9c;
    white-space: pre-wrap;
}
.h_text_container {
    display: inline-block;
    overflow: hidden;
    overflow: clip;
    margin: -.2em;
    padding: .2em;
}

.button_container {
    display: inline-block;
    overflow: hidden;
    overflow: clip;
    margin: -.2em;
    padding: .2em;
}


h1 h2 h3 h4 h5 h6 {
    font-family: 'Hellix' ,'Helvetica','Arial',sans-serif; 
    font-family: 'Poppins', sans-serif;
    line-height: .9;
    white-space: pre-wrap;
    letter-spacing: -.04em;
  }